:root{
    -fondo-formulario: #bfd3cd;
    -fondo-fieldset: #4d6d63;

    -fondo-formulario-cambio: #A6C1B9;
    -fondo-fieldset-cambio: #2B3D37;
    -fondo-input-cambio: #4D6D63
}

/* Estilos generales */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1F2023;
}

h1{
    font-family: 'poppins', sans-serif;
    padding: 10px;
    text-align: center;
    font-weight: 800;
    width: 800px;
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

.bordes-decoration{
    margin: 0 auto;
    height: 20px;
    width: 800px;
    background-color: #4d6d63;
}

.arriba{
    margin-top: 40px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
}
.abajo{
    clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
    margin-bottom: 20px;
}

.container{
    width: 800px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;
}

fieldset{
    border: 2px solid #4d6d63;
    background-color: #bfd3cd;
    width: 800px;
    padding: 0;
    margin: 0;
}

legend{
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 15px;
    padding: 12px;
    border-radius: 4px;
    background-color: #4d6d63;
    color:white;
}

span{
    font-weight: 500;
    font-size: 18px;
}

.input-label{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
}

input{
    color: rgb(94, 93, 93);
    box-sizing: border-box;
    text-align: right;
    border: 1px solid rgb(122, 113, 113);
    width: 100%;
    margin-top:10px;
    padding: 7px 4px;
    border-radius: 4px;
    font-size: 15px;

}

select{
    font-size: 15px;
    width: 100%;
    margin-top:10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(122, 113, 113);
    color: rgb(122, 113, 113);
}

textarea{
    display: block;
    width: 100%;
    margin-top:10px;
    padding: 40px 0;
}

.check{
    display: inline;
    margin: 0 auto;
}

.check input{
    margin: 0;
    width: 12px;
}
.check label{
    margin:0 3px;

}
.check-container{
    width: 40%;
    margin-top: 0;
}

.check-container label:first-child{
    display: block;
    margin-bottom: 10px;
}
/*  */

/* Estilos separacion entre formularios */
.decoracion-circulos{
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.decoracion-circulos div{
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #bfd3cd;
}

/*  */

/* Estilos ultimo form; Apartado de "Actividades" */
.ultimo-form{
    padding-left: 0;
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.ultimo-form :first-child{
    font-size: 16px;

}

.ultimo-fieldset{
    box-sizing: border-box;
    text-align: left;
    padding: 25px;
    padding-top: 50px;
}

.ultimo-form div{
    display: flex;
    margin-top: 15px;
}

.ultimo-form div input{
    width: auto;
    margin: 0;
}

.ultimo-form div label{
    margin:0 5px;
}

p{
    font-size: 13px;
}

.form-actividades{
    margin-bottom: 20px;
}
/*  */

/* Termninos y condiciones */
.terminos-condiciones{
    display: flex;
    margin: 0;
    padding-left: 2px;
    
}

.terminos-condiciones input{
    width: auto;
    margin: 0;
    margin-right: 5px;
}

.terminos-condiciones label{
    color: white;
}

.container-terminos-condiciones p{
    margin: 5px 0;
    color: white;
    font-weight: 600;
}

.botones{
    text-align: center;
    margin: 25px auto;
}

.botones button{
    color: #8EA2A0;
    background-color: #2B3D37;
    border-radius: 2px;
    border: 1px solid #374E47;
    padding: 11px 14px;
    margin: 0 10px;
}
/*  */

/* ESTILOS CON PSEUDOCLASES */
input:hover{
    background-color: #4D6D63;
}    

textarea:hover{
    background-color: #4D6D63;
}
fieldset:hover{
    background-color: #A6C1B9;
    legend{
        background-color: #2B3D37;
    }
}

button:hover{
    background-color: #bfd3cd;
    cursor: pointer;
}

/*  */
